.new-login-register {
    display: flex;
    justify-content: center;
    height: 100vh;
    background: linear-gradient(135deg, #6dd5ed, #2193b0); /* Cool gradient background */
    font-family: 'Arial', sans-serif; /* Modern font */
}

.form-container {
    background: white;
    padding: 30px;
    border-radius: 10px;
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2);
    max-width: 400px;
    width: 100%;
    animation: slideIn 0.5s ease-in-out; /* Smooth slide-in animation */
}

@keyframes slideIn {
    from {
        opacity: 0;
        transform: translateY(-20px);
    }
    to {
        opacity: 1;
        transform: translateY(0);
    }
}

.switcher {
    display: flex;
    margin: 0;
    justify-content: space-between;
}

/*!*!* Container Styles *!*!*/
#container1 {
    background-color: #1d2228;
    width: 60%;
    display: flex;
    align-items: center;
    justify-content: left;
}


#container1 img {
    max-width: 100%;
}

.container {
    max-width: 500px;
    width: 100%;
    margin-top: 50px;
    margin-left: 50px;
    margin-bottom: 50px;
    text-align: center;
    align-items: center;
}

.container .form {
    width: 400px;
}

.form-group span {
    font-size: 11px;
    font-weight: 600;
}

.form-container.active {
    padding-top: 30px;
}

.form-group label {
    margin-bottom: 5px;
}
/*!*!*!* Typography *!*!*!*/
.title {
    margin-top: 30px;
    font-size: 50px;
    font-weight: 600;
    margin-bottom: 5px;
}

.switcher button {
    flex: 1;
    padding: 10px;
    cursor: pointer;
    border: none;
    background: #f0f0f0;
    transition: background-color 0.3s, transform 0.2s;
}

.switcher button.active {
    background: #d4eefd;
    color: #007bff;
    transform: scale(1.05); /* Slightly enlarge active button */
}

.form-group {
    margin-bottom: 15px;
}

.form-group label {
    display: block;
    font-size: 14px;
    color: #333;
    text-align: left;
}

.form-group input {
    width: 100%;
    padding: 10px;
    border: 1px solid #ddd;
    border-radius: 4px;
    transition: border-color 0.3s;
    box-sizing: border-box;
}

.form-group input:focus {
    border-color: #007bff;
}

.remember-forgot {
    display: flex;
    align-items: center;
    margin-bottom: 20px;
}

.remember-forgot label {
    display: flex;
    align-items: center;
    margin-right: 120px;
}

.remember-forgot a {
    color: #605f5f;
    font-size: 15px;
}

.remember-forgot a:hover {
    color: #e76f51;
    text-decoration: underline;
}

.toggle-form {
    text-align: center;
    margin-top: 20px;
    color: #fff;
}

.toggle-form span {
    color: #fff;
    cursor: pointer;
    text-decoration: underline;
}

.help-text {
    font-size: 12px;
    color: #666;
}

p span {
    color: #605f5f;
    cursor: pointer;
    font-size: 15px;
}